* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
}

#dados-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  margin: 0 auto;
  width: 500px;
}

.dados {
  display: flex;
}

#meme-text {
  position: absolute;
  color: white;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
  width: max-content;
}

#meme-image-container {
  margin: 0.25em auto;
  background-color: white;
  height: 500px;
  width: 500px;
  display: flex;
}

#meme-image {
  width: 100%;
}

.memes {
  width: 90px;
}

.padrao {
  border: 1px black solid;
}

#fire {
  background-color: red;
}

.fire {
  border: 3px dashed red;
}

#water {
  background-color: blue;
}

.water {
  border: 5px double blue;
}

#earth {
  background-color: green;
}

.earth {
  border: 6px groove green;
}


/* Linha no final né linter */
