container-generator()
  margin: auto
  width: calc(80% - 80px)

.container
  container-generator()

#meme-image-container
  background-color #fff
  border: 1px solid black
  height: 500px
  position: relative
  width: @height

#meme-image
  background-position: center
  background-size: cover
  height: 100%
  width: @height

#meme-text
  bottom: 0
  color: white
  font-size: 30px
  position: absolute
  text-shadow: 5px 5px 5px black
