* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: grey;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  position: relative;
}

#meme-text {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  width: max-content;
}

#fire {
  padding: 0.3rem 1rem;
  margin: 0.5rem 1rem;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: large;
  border: none;
  outline: 3px dashed red;
  outline-offset: 3px;
}

#water {
  padding: 0.3rem 1rem;
  margin: 0.5rem 1rem;
  background-color: blue;
  color: white;
  font-weight: 700;
  font-size: large;
  border: none;
  outline: 5px double blue;
  outline-offset: 3px;
}

#earth {
  padding: 0.3rem 1rem;
  margin: 0.5rem 1rem;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: large;
  border: none;
  outline: 6px groove green;
  outline-offset: 3px;
}
