* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(45, 45, 45);
}

main {
  width: 750px;
  min-height: 500px;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

section {
  margin-top: 10px;
  margin: auto;
  width: 600px;
  height: auto;
}

label {
  display: inline;
  font-weight: 600;
  vertical-align: top;
  font-size: 18px;
}

input {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: -webkit-baseline-middle;
}

#text-input {
  width: 500px;
}

#meme-image-container {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 75px;
  border-radius: 10px;
}

#meme-image {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

#meme-text {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: auto;
  font-size: 30px;
  color: white;
  margin-top: 500px;
  text-shadow: 5px 5px 5px black;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
