container-generator()
  margin: auto
  width: calc(80% - 80px)

.container
  container-generator()

#meme-image-container
  background-color #fff
  border: 1px solid black
  height: 500px
  width: @height

#meme-image
  background-position: center
  background-size: cover
  height: 100%
  width: @height